body {
  margin: 0;
  background-color: white;
  font-family: arial, sans-serif;
  text-align: center;
  color: black;
}
.page {
  display: none;
  height: 100vh;
  position: absolute;
  width: 100%
  top: 0;
  left: 0;
}
.active {
  display: block;
}
/* Buttons */
button {
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  position: relative;
  z-index: 9999;
}
/* Progress bar */
.bar {
  width: 0%;
  height: 20px;
  background: black;
  margin: 20px auto;
  transition: width 2s;
}
/* GLITCH PAGE */
.glitch {
  background: black;
  color: red;
}
.glitch-text {
  animation: flicker 0.3s infinite;
  position: relative;
}
@keyframes glitch {
  0% { transform: translate(2px, 0);}
  50% { transform: translate(-2px, 0);}
  100% { transform: translate(2px, 0);}
}
/* FINAL PAGE */
.final {
  background: #111;
  color: white;
}
.student {
  width: 60px;
  height: 60px;
  background: #ccc;
  border-radius: 50%;
  transition: all 1s ease;
}
.students {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.unique {
  background: #ff4d4d;
}
.hidden {
  opacity: 0;
}
.hidden:hover {
  opacity: 1;
}
