body {
  background: linear-gradient(-45deg,#ffffff,#e8e8e8,#dcdcdc,#ffffff);
  transition: background 1s;
  background-size:400% 400%;
  animation: drift 10s infinite;
}
.page {
  display: none;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.page.active {
  display: flex;
}
button {
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  position: relative;
  z-index: 9999;
  transition: all 0.3s ease;
  border-radius: 20px;
  border: 1px solid black;
}
.bar {
  width: 0%;
  height: 20px;
  background: black;
  margin: 20px auto;
  transition: width 2s;
}
.glitch {
  background: black;
  color: red;
}
.glitch-text {
  animation: glitch .15s infinite;
  text-shadow: 3px 0 red, -3px 0 cyan;
  position: relative;
  font-size:40px;
}
@keyframes glitch {
  0% { transform: translate(2px, 0);}
  50% { transform: translate(-2px, 0);}
  100% { transform: translate(2px, 0);}
}
.final {
  background: #111;
  color: white;
}
.student {
  width: 60px;
  height: 60px;
  background: #ccc;
  border-radius: 50%;
  transition: all 1s ease;
  animation:pulse 2s infinite;
}
.students {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.unique {
  background: #ff4d4d;
}
.hidden {
  opacity: 0;
  transition: opacity 1s ease;
}
.hidden:hover {
  opacity: 1;
}
.show {
  opacity: 1;
}
button:hover {
  transform: scale(1.15) rotate(-1deg);
  box-shadow:0 0 20px rgba(255,0,0,.4);
  background: black;
  color: white;
}
h1 {
  font-size: 70px;
  letter-spacing: 2px;
  text-shadow:0 0 35px white;
  animation:flicker 3s infinite;
}
@keyframes drift{
  0%{background-position:0% 50%;}
  50%{background-position:100% 50%;}
  100%{background-position:0% 50%;}
}
@keyframes pulse{
  50%{
    transform:scale (1.15);
    box-shadow:0 0 30px #ff44444;
  }
}
